/*
#intro_methuser {
    width: 50%;
    height: 50%;
}

#about-img {
    width: 791px;
}
*/
#report_modal{
    padding-top: 100px;
    
}
.modal.in .modal-dialog {
    z-index: 9999; 
}
.label-form{
    font-weight: bold;
}

#header_info{
    background: #4cabce !important;
    font-family: "Fira Sans", sans-serif !important;
}
.bluemenu{
    color: #ffff !important;
}

#home_header{
    color: #ffff !important;
}
#trend_header{
    color: #ffff !important;
}
#mental_header{
    color: #ffff !important;
}
#reason_header{
    color: #ffff !important;
}
#cut_header{
    color: #ffff !important;
}
#source_header{
    color: #ffff !important;
}

.meth_select{
    font-size: large;
}
#info_info{
    font-size: medium;
    text-align: left;
}
.methfont{
    font-size:large;
}
#bs-example-navbar-collapse-2{
    position: fixed;
    top: auto;
    background: #e7e7e7;
    z-index: 99999;
}

#button-collapse{
    position: fixed;
    top: auto;
    background: #e7e7e7;
    z-index: 99999;
}
#button_login{
    margin-left: 25%;
    margin-top: 10px;
    font-size: 20px;
    width: 150px;
    height: 50px;
}
#button_register{
    margin-left: 25%;
    margin-top: 10px;
    font-size: 20px;
    width: 150px;
    height: 50px;
}


@media (min-width: 768px) and (max-width: 991px) {
    #button_register{
        margin-left: 0%;
        margin-top: 10px;
        font-size: 20px;
        width: 150px;
        height: 50px;
    }

}

@media (min-width: 480px) and (max-width: 767px) {
    #button_login{
        margin-left: 10%;
        margin-top: 10px;
        font-size: 20px;
        width: 150px;
        height: 50px;
    }
    #button_register{
        margin-left: 0%;
        margin-top: 10px;
        font-size: 20px;
        width: 150px;
        height: 50px;
    }  
}