#intro_methuser {
    margin-left: 15%;
}
#about-img {
    width: 791px;
}
#about-details{
    width: 791px;
}
#header_info{
    background: #4cabce !important;
}
#home_header{
    color: #ffff !important;
}
