/*
#intro_methuser {
    width: 50%;
    height: 50%;
}

#about-img {
    width: 791px;
}
*/
#report_modal{
    padding-top: 100px;
    
}
.modal.in .modal-dialog {
    z-index: 9999; 
}
.label-form{
    font-weight: bold;
}

#header_info{
    background: #4cabce !important;
    font-family: "Fira Sans", sans-serif !important;
}
.bluemenu{
    color: #ffff !important;
}

#home_header{
    color: #ffff !important;
}
#trend_header{
    color: #ffff !important;
}
#mental_header{
    color: #ffff !important;
}
#reason_header{
    color: #ffff !important;
}
#cut_header{
    color: #ffff !important;
}
#source_header{
    color: #ffff !important;
}

.meth_select{
    font-size: x-large;
}
#info_info{
    font-size: large;
}
.methfont{
    font-size:large;
}

